* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #000, #111);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background-color: #1c1c1c;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(229,9,20,0.6);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #e50914;
}

.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
}

.login-container button {
  width: 100%;
  padding: 12px;
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #f6121d;
}

.signup-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signup-text a {
  color: #e50914;
  text-decoration: none;
}